// Place all the styles related to the tweets controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
@import url('https://fonts.googleapis.com/css?family=IBM+Plex+Mono:400,500,700');

* {
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: #f1f2ed;
  font-family: IBM Plex Mono;
  color: #000000;
}

a {
  text-decoration: none;
  color: rgb(27, 149, 224);

  &:hover {
    text-decoration: underline;
  }
}

.username-link {
  font-size: 1.2em;
  font-weight: 700;
  color: #000000;
}

.container {
  max-width: 640px;
  padding: 0 32px;
  margin: 0 auto;
}

header {
  padding: 8px 0;
}
header div.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.tweet {
  display: flex;
  justify-content: flex-start;
  align-items: start;
}

.tweet {
  margin: 40px 0 40px 0;
}

.tweet img {
  border-radius: 50px;
  margin-right: 1em;
  height: 49px;
}
